@charset "utf-8";

.keiyakugaiyou {
    font-size: 14px;
    background-color: #ffffff;
}

.keiyakugaiyou em{
    font-weight: bold;
}
.keiyakugaiyou .large{
    font-size: 18px;
}

.keiyakugaiyou .normal{
    font-size: 14px;
}

.keiyakugaiyou .small{
    font-size: 12px;
}
.keiyakugaiyou .items li {
    text-indent: -1em;
    padding-left: 1em;
}
.keiyakugaiyou .attention {
	color: #ff0000;
	text-decoration: underline;
}
.keiyakugaiyou .info {
    color: #0000ff;
}

.outline article.keiyakugaiyou header > div {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.outline article.keiyakugaiyou header .calcBaseDate {
    float: right;
}
.outline article.keiyakugaiyou header dt {
    float: left;
    width: 100px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.outline article.keiyakugaiyou header dd {
    margin-left: 120px;
}

.outline article.keiyakugaiyou section {
    height: 100%;
    padding: 0 20px;
}

.outline article.keiyakugaiyou main .top_message{
    margin-bottom: 10px;
}

/* 左メニュー */
.keiyakugaiyou aside#menuArea {
    width: 200px;
}
.keiyakugaiyou aside#menuArea .customerInfo dl{
    padding: 0 10px;
}
.keiyakugaiyou aside#menuArea .customerInfo dl dd{
    padding-left: 10px;
}
/*
.keiyakugaiyou aside#menuArea .mainTabs li a {
    height: 51px;
    display: table;
    width: 98%;
    background: url(img/bg/flowNavBtn.png) repeat-x left center;
    background-size: 1px 100%;
    border: 1px #484848 solid;
    border-radius: 3px;
    margin-left: 3px;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}
.keiyakugaiyou aside#menuArea .mainTabs li.active a {
    background: #02993b;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,1);
}
.keiyakugaiyou aside#menuArea .mainTabs li a .num{
    width: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.keiyakugaiyou aside#menuArea .mainTabs li a .title{
    display: table-cell;
    vertical-align: middle;
}
*/

.keiyakugaiyou .mainTabs {
  /*border-right: 1px solid #ddd;*/
  margin-left: 10px;
}
.keiyakugaiyou .mainTabs > li {
  margin-right: -1px;
}
.keiyakugaiyou .mainTabs > li > a {
  display: block;
  padding: 8px 12px;
  line-height: 30px;
  color: #0088cc;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.keiyakugaiyou .mainTabs > li > a:hover, 
.keiyakugaiyou .mainTabs > li > a:focus {
  color: #005580;
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  background-color: #eeeeee;
}
.keiyakugaiyou .mainTabs > li.active > a, 
.keiyakugaiyou .mainTabs > li.active > a:hover, 
.keiyakugaiyou .mainTabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border-color: #ddd transparent #ddd #ddd;
}

.keiyakugaiyou .mainTabs > li.active + li {
    border-right: 1px solid #ddd;
}


/* 右コンテンツ*/
.keiyakugaiyou article#pageBody {
    height: 650px;
}