@charset "utf-8";

.keiyakugaiyou {
    font-size: 14px;
    background-color: #ffffff;
}
.keiyakugaiyou .large{
    font-size: 18px;
}
.keiyakugaiyou .normal{
    font-size: 14px;
}
.keiyakugaiyou .small{
    font-size: 12px;
}
.keiyakugaiyou.fontL {
    font-size: 16px;
}
.keiyakugaiyou.fontL .large{
    font-size: 21px;
}
.keiyakugaiyou.fontL .normal{
    font-size: 16px;
}
.keiyakugaiyou.fontL .small{
    font-size: 14px;
}
.keiyakugaiyou .attention {
	color: #ff0000;
	text-decoration: underline;
}
.keiyakugaiyou .btn {
    font-size: none;
}
.keiyakugaiyou em{
    font-weight: bold;
}
.keiyakugaiyou .info {
    color: #0000ff;
}

.keiyakugaiyou .items li {
    text-indent: -1em;
    padding-left: 1em;
}

.keiyakugaiyou .dl-horizontal dt{
  float: left;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.keiyakugaiyou .dl-horizontal dd{
  text-align: right;
}
.keiyakugaiyou .dl-horizontal dd .unit{
  display: inline-block;
  text-align: left;
}
