@charset "utf-8";

footer#pageFooter nav.btnArray ul li.nextPage a{
  background-image: url(img/icn/stepNext.png), url(img/bg/gradientGreen.png);
  background-repeat: no-repeat, repeat-x;
  background-position: right 10px center,left center;
  background-size: 24px 25px,auto 100%;
  padding: 0 40px 0 15px;
}
footer#pageFooter nav.btnArray ul li.prevPage a{
	background-image: url(img/tmp/stepPrev.png), url(img/bg/gradientGreen.png);
	background-repeat: no-repeat, repeat-x;
	background-position: left 10px center,left center;
	background-size: 24px 25px,auto 100%;
	padding: 0 15px 0 40px;
}


.keiyakugaiyou .link {
  text-decoration:underline;
  color: #0000ff;
}

.keiyakugaiyou .link:after {
  content: " ";
  display: inline-block;
}

.keiyakugaiyou .explain {
    text-decoration:underline;
}
.keiyakugaiyou .explain:after {
    content: " ";
    display: inline-block;
	background:url("img/icons/icnQuestion.png") 0 0 no-repeat transparent;
	background-size: 14px 14px;
	background-position: 2px 0px;
	width: 16px ;
	height: 14px ;
}
.keiyakugaiyou .link.trans:after {
  background:url("img/tmp/trans.png") 0 0 no-repeat transparent;
  background-size: 14px 14px;
  background-position: 2px 0px;
  width: 16px ;
  height: 14px ;
}
.keiyakugaiyou .detail {
  background-image:url(img/tmp/exLinkWhite.png), url(img/tmp/arrow.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 14px 14px, 100% 100%;
  background-position: 39px 6px, 0px 0px;
  width: 67px;
  height: 30px;

  color: #ffffff;
  line-height: 30px;
  padding-left: 8px;
  display: inline-block;
  text-align: left;
}
.keiyakugaiyou .detail:active{
  background-image:url(img/tmp/exLinkWhite.png), url(img/tmp/arrow2.png);
}
.keiyakugaiyou .detail:after {
  content: "詳細";
}
.keiyakugaiyou .linkBtn{
  border: 1px solid #dddddd;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.keiyakugaiyou .linkBtn:active{
	background-image:none;
	background-color:#eeeeee;
}

/** タブ関連 */
.keiyakugaiyou .tab-content > .tab-pane{
  display: none;
}
.keiyakugaiyou .tab-content > .active{
  display: block;
}
.keiyakugaiyou .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.keiyakugaiyou .fade.in {
  opacity: 1;
}

/** サブタブ関連 */
.keiyakugaiyou .subTabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
}
.keiyakugaiyou .subTabs:after {
    content:''; clear:both; display:block;
}
.keiyakugaiyou .subTabs > li {
  float: left;
  margin-bottom: -1px;
}
.keiyakugaiyou .subTabs > li > a {
  display: block;
  padding: 8px 12px;
  margin-right: 2px;
  line-height: 20px;
  color: #0088cc;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.keiyakugaiyou .subTabs > li > a:hover, 
.keiyakugaiyou .subTabs > li > a:focus {
  opacity: 1;
}
.keiyakugaiyou .subTabs > li.active > a, 
.keiyakugaiyou .subTabs > li.active > a:hover, 
.keiyakugaiyou .subTabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-image: none;
}

/** サブサブタブ関連 */
.keiyakugaiyou .subTabs .subsubTabs {
  position: absolute;
  left: 0;
  top: 38px;
  background-color: #eeeeee;
  width: 100%;
}

.keiyakugaiyou .subTabs .subsubTabs ul {
  margin: 10px 20px 0 20px;
  display: inline-block;
  vertical-align: bottom;
  border-right: 1px solid rgba(0, 0, 0, .2);
  box-shadow: rgba(255, 255, 255, 1) -1px 0 0 inset;
}
.keiyakugaiyou .subTabs .subsubTabs ul:after {
  content:''; clear:both; display:block;
}
.keiyakugaiyou .subTabs .subsubTabs li {
  float: left;
}
.keiyakugaiyou .subTabs .subsubTabs li > a {
  display: block;
  padding: 8px 12px;
  line-height: 20px;
  color: #0088cc;
  border-left: 1px solid rgba(0, 0, 0, .2);
  box-shadow: rgba(255, 255, 255, 1) -1px 0 0;
}
.keiyakugaiyou .subTabs .subsubTabs li.active > a {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
}

/** アコーディオン関連 */
.keiyakugaiyou .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.keiyakugaiyou .collapse.in {
  height: auto;
}