@charset "utf-8";

/* page wrapper
============================================================== */
#wrapper{clear:both; max-width:1024px; min-width:1005px; min-height:500px; height:100%; position:relative; clear:both; z-index:0; box-shadow:5px 0 5px rgba(0,0,0,0.5); overflow:hidden;}
#wrapper:after{content:''; clear:both; display:block;}

/* clear fix
============================================================== */
header,footer,main,section{clear:both;}
header:after,footer:after,main:after,section:after{content:''; clear:both; display:block;}

/* global header
=============================================================== */
header#pageHeader{height:54px; border-bottom:1px solid #fff; position:relative; box-shadow:0 3px 5px rgba(0,0,0,0.5); position:relative; overflow:hidden; z-index:2;
    background:url(../img/bg/headerBg.png) repeat-x top left;}
header#pageHeader nav#transfer{float:left; height:54px; border-right:1px #999 solid;}
header#pageHeader nav#transfer li{font-size:14px; line-height:54px; float:left; border-left:1px #666 solid;}
header#pageHeader nav#transfer li a{height:54px; display:block; background-repeat:no-repeat; border-right:1px #fff solid;}
header#pageHeader nav#transfer li.return a{background:url(../img/icn/returnArr.png) no-repeat 15px center; padding:0 15px 0 45px;}
header#pageHeader nav#transfer li.homeLink a{background:url(../img/icn/home.png) no-repeat center center; width:54px; height:54px; text-indent:-9999px;}
header#pageHeader nav#transfer li.abort a{background:url(../img/icn/abort.png) no-repeat 15px center; width:85px; height:54px; padding-left:40px;}
header#pageHeader h1{float:left; height:54px; font-size:14px; line-height:54px; padding:0 15px;}
header#pageHeader #proposalMode{width:200px; height:54px; line-height:54px; position:absolute; top:0; right:0; border-left:1px #fff solid;}
header#pageHeader #proposalMode p{width:90px; height:54px; position:absolute; top:0; left:0; border-left:1px #666 solid; padding:0 10px 0 15px;}
header#pageHeader div.toggleLR{position:absolute; width:100px; height:40px; right:10px; top:7px; padding-right:11px;/* paddingを調整しないとpositionがうまく取れない？ */}

/* content container
=============================================================== */
main{clear:both; height:100%; padding:55px 0 62px 0; position:relative; top:-55px; z-index:0;}
main:after{content:''; clear:both; display:block;}
main.woFooter{padding:55px 0 0 0;}

/* inner scroller
============================================================== */
.scrlParent{height:100%; overflow:auto; clear:both;}
.scrlXParent{height:100%; width:100%; overflow:auto; clear:both;}
.ie .scrlParent{overflow-x:hidden;}

/* global aside
=============================================================== */
aside#menuArea{width:210px; float:left; height:100%; overflow:auto;}
/* main menu */
aside#menuArea nav#sideMenu ul{width:190px;}
aside#menuArea nav#sideMenu ul li{font-size:14px; line-height:18px;}
aside#menuArea nav#sideMenu ul li a,
aside#menuArea nav#sideMenu ul li i{padding:12px 5px 12px 12px; color:#fff; display:block; position:relative; background:url(../img/bg/gradientGreen.png) repeat-x left center; background-size:1px 100%; text-shadow:0 -1px 0 rgba(0,0,0,1);}
aside#menuArea nav#sideMenu ul li.hasSubmenu a,
aside#menuArea nav#sideMenu ul li.hasSubmenuChild a{
    background-image:url(../img/icn/menuHasSub.png), url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat, repeat-x;
    background-position:170px center,left center;
    background-size:10px 17px,1px 100%;}
aside#menuArea nav#sideMenu ul li.hasSubmenu a.open,
aside#menuArea nav#sideMenu ul li.hasSubmenuChild a.open{
    background-image:url(../img/icn/menuHasSubOpen.png), url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat, repeat-x;
    background-position:165px center,left center;
    background-size:16px 12px,1px 100%;}
/* sub menu */
aside#menuArea nav#sideMenu ul li ul{margin:0;}
aside#menuArea nav#sideMenu ul li.hasSubmenu ul,
aside#menuArea nav#sideMenu ul li.hasSubmenuChild ul{margin:0; display:none;}
aside#menuArea nav#sideMenu ul li ul li{font-size:12px; border-bottom:1px #777 solid;}
aside#menuArea nav#sideMenu ul li ul li a{padding:10px 5px 10px 12px; color:#000; text-shadow:0 1px 0 rgba(255,255,255,1);
    background-image:none,url(../img/bg/submenu.png) !important;
    background-repeat:no-repeat,repeat-x !important;
    background-position:0,left center !important;
    background-size:0,auto 100% !important;}
aside#menuArea nav#sideMenu ul li ul li a.crr{color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1);
    background-image:url(../img/icn/subMenuTip.png),url(../img/bg/submenuCurr.png) !important;
    background-repeat:no-repeat, repeat-x !important;
    background-position:left center,left center !important;
    background-size:7px 12px,auto 100% !important;}

aside#menuArea nav#sideMenu ul li div.parentalMenu{display:none;}
aside#menuArea nav#sideMenu ul li div.parentalMenu dl{cursor:pointer; background:url(../img/icn/menuRtArr.png) no-repeat 95% center;}
aside#menuArea nav#sideMenu ul li div.parentalMenu dl.open{background:url(../img/icn/menuDnArr.png) no-repeat 95% center;}
aside#menuArea nav#sideMenu ul li div.parentalMenu .children{display:none;}


/* page body
=============================================================== */
article#pageBody{width:795px; float:right; height:100%;}

/* global footer
=============================================================== */
footer#pageFooter{width:100%; max-width:1024px; min-width:1005px; height:61px; border-top:1px #555 solid; position:fixed; left:0; bottom:0; background:url(../img/bg/footerBg.png) repeat-x left top; background-size:auto 100%;}
footer#pageFooter:after{content:''; display:block; clear:both;}
footer#pageFooter nav.btnArray{height:61px; float:left;}
footer#pageFooter nav.btnArray.functions{float:right;}
footer#pageFooter nav.btnArray.print{margin-left:25px;}
footer#pageFooter nav.btnArray ul{}
footer#pageFooter nav.btnArray ul li{float:left; height:61px; font-size:14px; line-height:61px; border-left:1px #66c289 solid; border-right:1px #004d1d solid; text-align:center;}
footer#pageFooter nav.btnArray ul li a{height:61px; min-width:108px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block; background:url(../img/bg/gradientGreen.png) repeat-x left center; background-size:auto 100%; padding:0 15px;}
footer#pageFooter nav.btnArray ul li.startApply a{font-weight:bold; font-size:18px; padding:0 10px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block; background:url(../img/bg/gradientRed.png) repeat-x left center; background-size:auto 100%;}
.ie footer#pageFooter nav.btnArray ul li.startApply a{text-shadow:0 -2px 0 rgba(0,0,0,1);}
footer#pageFooter nav.btnArray.print ul li{text-align:left; font-size:14px; line-height:1.2;}
footer#pageFooter nav.btnArray.print ul li.printService{width:200px;}
footer#pageFooter nav.btnArray.print ul li.printApplication{width:125px;}
footer#pageFooter nav.btnArray.print ul li.printService a{width:200px; text-shadow:0 -1px 0 rgba(0,0,0,1);
    background-image:url(../img/icn/printInf.png),url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat,repeat-x;
    background-position:12px center,left center;
    background-size:21px 23px,auto 100%;}
.ie footer#pageFooter nav.btnArray.print ul li.printService a{text-shadow:0 -2px 0 rgba(0,0,0,1);}
footer#pageFooter nav.btnArray.print ul li.printApplication a{width:125px; text-shadow:0 -1px 0 rgba(0,0,0,1);
    background-image:url(../img/icn/print.png),url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat,repeat-x;
    background-position:12px center,left center;
    background-size:19px 19px,auto 100%;}
footer#pageFooter nav.btnArray.print ul li a{display:table-cell; vertical-align:middle; padding:0 0 0 40px;}
footer#pageFooter nav.btnArray ul li.cancel{border-color:#555 !important;}
footer#pageFooter nav.btnArray ul li.cancel a{background:url(../img/bg/gradientGray.png) repeat-x center; background-size:10px 100%; color:#000; text-shadow:0 1px 0 rgba(255,255,255,1);}
footer#pageFooter nav.btnArray ul li.save{border-left-color:#f9c !important; border-right:none !important;}
footer#pageFooter nav.btnArray ul li.save a{font-weight:bold; font-size:18px; padding:0 0 0 20px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block;
    background-image:url(../img/icn/save.png),url(../img/bg/gradientRed.png);
    background-repeat:no-repeat, repeat-x;
    background-position:20px center, left center;
    background-size:18px 19px,auto 100%;}
footer#pageFooter nav.btnArray ul li.saveR{border-right:none !important;}
footer#pageFooter nav.btnArray ul li.saveR a{padding:0 0 0 20px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block;
    background-image:url(../img/icn/save.png),url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat, repeat-x;
    background-position:20px center, left center;
    background-size:18px 19px,auto 100%;}
footer#pageFooter nav.btnArray ul li.calc{border-left-color:#f9c !important; border-right:none !important;}
footer#pageFooter nav.btnArray ul li.calc a{font-weight:bold; font-size:18px; padding:0 0 0 20px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block;
    background-image:url(../img/icn/calc.png),url(../img/bg/gradientRed.png);
    background-repeat:no-repeat, repeat-x;
    background-position:20px center, left center;
    background-size:21px 20px,auto 100%;}
footer#pageFooter nav.btnArray ul li.outline{}
footer#pageFooter nav.btnArray ul li.outline a{padding:0 0 0 25px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block;
    background-image:url(../img/icn/outline.png),url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat, repeat-x;
    background-position:10px center, left center;
    background-size:23px 20px,auto 100%;}
footer#pageFooter nav.btnArray ul li.apply{}
footer#pageFooter nav.btnArray ul li.apply a{padding:0 0 0 25px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block;
    background-image:url(../img/icn/apply.png),url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat, repeat-x;
    background-position:15px center, left center;
    background-size:20px 19px,auto 100%;}
footer#pageFooter nav.btnArray ul li.record{}
footer#pageFooter nav.btnArray ul li.record a{padding:0 0 0 25px; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,1); display:block;
    background-image:url(../img/icn/record.png),url(../img/bg/gradientGreen.png);
    background-repeat:no-repeat, repeat-x;
    background-position:25px center, left center;
    background-size:19px 23px,auto 100%;}

footer#pageFooter div.message{float:left; height:61px; max-width:355px; padding:0 15px; width:100%;}
footer#pageFooter div.message p{color:#fff; display:table-cell; vertical-align:middle; height:61px; padding-right:30px; white-space:nowrap;}
footer#pageFooter div.message p.alert{background:url(../img/icn/alert.png) no-repeat left center; padding-left:35px;}

/* modal window 
============================================================== */
#modalStage{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../img/bg/alphaBlack.png); z-index:100; display:none;}
#modalStage.light{background:url(../img/bg/alphaWhite.png);}
#modalStage.test{display:block !important;}

/* overlay pannel
============================================================== */
.overlayPannel{position:absolute; background:url(../img/bg/dialogBg.png) repeat-x 0 0; border:2px #000 solid; border-radius:5px; box-shadow:0 0 15px rgba(0,0,0,0.8), 0 0 6px rgba(255,255,255,0.3) inset; padding:10px; display:none;}
.overlayPannel header,.overlayPannel footer{background:none transparent !important;}
.overlayPannel header{color:#fff; font-size:14px; font-weight:bold; height:25px;}
.overlayPannel footer{padding:10px 0;}
.overlayPannel.test{display:block !important;}


/* dummy
============================================================== */
div.dummy{width:300px; height:300px; position:absolute; left:50%; top:50%; margin:-150px 0 0 -150px; background:#f5f5f5; border:1px #ccc solid; text-align:center; padding:20px;}